wheel
netifaces
pytz
bacpypes
flask
flask-bootstrap
pillow==5.1.0
#numpy==1.23.1
numpy==1.19.5
#bokeh==2.4.3
bokeh==2.3.3
xlwt
openpyxl
odfpy
pandas
tabulate
google-cloud-pubsub
#BAC0==21.12.03
#BAC0==22.9.21
BAC0==23.07.03
cryptography
